$font-stack: Helvetica, sans-serif;
$vault-boy: url('img/vault-boy.png');
$light-yellow-color: rgb(255, 242, 0);
$dark-yellow-color: rgb(255, 255,200);
$light-blue-color: rgb(51, 103, 200);


body {
  margin: 0px;
  font: 100% $font-stack;
}

.vault-boy-img {
  position: absolute;
  width: 320px;
  height: 470px;
  background-image: $vault-boy;
}

.ribbon-blue {
  position: absolute;
  z-index: -1;
  color: $light-yellow-color;
  width: 100%;
  height: 100px;
  padding-left: 340px;
  background-color: $light-blue-color;
  box-shadow: 10px 10px 5px $dark-yellow-color;
}

.ribbon-blue h1 {
  margin: 0;
  font-size: 50px;
}

.ribbon-blue h2 {
  margin: 0;
  margin-left: 10px;
}

.content {
  margin-left: 350px;
  padding-top: 120px;
}

button {
  border-radius: 20%;
  height: 30px;
  font-weight: bold;
  background-color: $light-blue-color;
  color: white;
  padding: 5px, 10px, 5px, 10px;
  margin-right: 5px;
}

form span {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
}
